/*css reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box 
}
*::after,*::before {
  box-sizing: border-box
}
ul,ol,li {
  list-style: none;
}
body {
  font-family: sans-serif;  
  background: #f0efe9;
  color: #616473;
}
a {
  color: #616473
  }
a:hover {
  color: #50e3a4
}


/*common css*/
#app {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
  background: #fff;
  font-family: 'Microsoft Yahei';
  font-size: 14px;
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  padding: .8em 0;
  box-shadow: 0 0 1em hsla(0, 0, 0, 0.3)
}

#app > #todo {
  width: 100%;
  margin: 0 auto;
}
#app > #todo > .header {
  position: relative;
  display: flex;
  align-items: flex-end;
}


/*--登录&注册--*/
#signIn-signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff
  /*--全屏 
  position: fixed; 
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;  --*/
}

#signIn-signUp > h1 {
  position: absolute;
  top: 1em;
  left: 50%;
  margin-left: -3.8em;
}

#signIn-signUp .tab {
  float: left;
  margin-left: 2em;
}
.tab > .tab-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab > .tab-nav label {
  padding-left: 1.5em;
}
.tab > .tab-nav i {
  margin-right: .5em;
} 


#signIn-signUp form {
  margin-top: 0.8em;
}
#signIn-signUp form .formRow {
  display: flex;
  padding: 0.7em 0.5em
}
#signIn-signUp form .formRow label {
  color: #888;
}
#signIn-signUp form .formRow label:first-child {
  width: 4em;
  padding: 0.2em 0;
}